#sliderContent {
	/*background-color: #E6E6E6;*/
    /*border: 3px solid #FFFFFF;*/
	border-right: 2px solid #89877D;
	border-bottom: 2px solid #89877D;
	border-left: 2px solid #89877D;
    margin: auto;
    padding:10px 20px;
	-moz-border-bottom-right-radius: 15px;
	border-bottom-right-radius: 15px;
	
	-moz-border-bottom-left-radius: 15px;
	border-bottom-left-radius: 15px;
}
.viewer {  margin:0 auto 20px; padding:1px; overflow:hidden; position:relative;}
.content-conveyor { position:relative; }
#sliderContent .item { width:200px; float:left;text-align:left;}
#sliderContent .item .product-name{ min-height:50px; margin:0 0 10px; width:163px;}
#sliderContent .item .product-name a{
	/*font-size:13px; 
	font-weight:bold; 
	color:#1E7EC8; 
	text-decoration:none;*/
	font-size:12px; 
	font-weight:bold; 
	color:#444; 
	text-decoration: underline;
	}
#sliderContent .item .product-image{
	background: url(images/product-image-bg.png) no-repeat scroll left top transparent;
    display: block;
    height: 123px;
    padding: 1px 1px 14px;
    text-align: left;
    width: 161px;
}
#sliderContent li img{
    border: 0 none;
    height: 123px;
    width: 161px;
}