#slider-content #sl-screen li#sl-view, #slider-content #sl-screen li.nav-left{margin-right: 2px!important;}
#slider-content #sl-screen li.nav-right{ margin-right: 0;}
#slider-content #sl-screen li{
	float:left;
	list-style:none;
	margin-right: 7px;	
}
#list-items{
}
#slider-content {
	/*background: none repeat scroll 0 0 #E6E6E6;*/
    border-right: 2px solid #89877D;
	border-bottom: 2px solid #89877D;
	border-left: 2px solid #89877D;
	border-top: none;
    padding: 15px;
	position:relative;
	
	-moz-border-bottom-right-radius: 15px;
	border-bottom-right-radius: 15px;
	
	-moz-border-bottom-left-radius: 15px;
	border-bottom-left-radius: 15px;
}
#slider-content #sl-screen{
	margin:0 auto;
}
#slider-content #sl-screen .jq-ss-crop{
	float:left;
	border:0 none;
	
}
#slider-content #sl-screen li.nav-left, #slider-content #sl-screen li.nav-right{
    cursor: pointer;
    margin-right: 0;
    padding: 0;
    width: 12px;
}	
#slider-content #sl-screen #left,#right{
	display:block;
	 height: 13px; width: 12px;
	text-decoration: none;
	overflow:hidden;
	position:absolute;
	z-index: 9;
	margin:0;
	top:50%;
}
#slider-content #sl-screen #left{background:url(images/btn_prev.png) top left no-repeat;  height: 32px; width: 32px;left: -20px;right: auto;}
#slider-content #sl-screen #right{background:url(images/btn_next.png) top right no-repeat; height: 32px; width: 32px; right:-20px;}
#slider-content #sl-view{
    margin: 0;
    overflow: hidden;
    padding: 0;
}
#slider-content #sl-images{
	width:3818px !important;
	width:3822px;
	padding:0;
}
#slider-content #sl-images li{
    text-align: left;
	margin:0;
}

#slider-content #sl-images li .item{
	float:left;
	text-align:left;
}
#slider-content #sl-images li .item .product-info{padding-right:15px;}
#slider-content #sl-images li .item .product-name{}

#slider-content #sl-images li .item .product-name a{
	font-size:12px; 
	font-weight:bold; 
	color:#444; 
	text-decoration: underline;
	}
#slider-content #sl-images li .item .product-image{
	background: url("images/product-image-bg.png") no-repeat scroll left top transparent;
    display: block;
    height: 123px;
    padding: 1px 1px 14px;
    text-align: left;
    width: 161px;
}
#slider-content #sl-images li img{
    border: 0 none;
    height: 123px;
    width: 161px;
}
#slider-content #sl-images li .item .price-box .price{
	color:#396f00; 
	font-size:12px;
	}
#slider-content #sl-images li .item button.btn-cart {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    cursor: pointer;
    margin: 0;
    overflow: visible;
    padding: 0;
    width: auto;
}
#slider-content #sl-images li .item button.btn-cart span {
    background: url(images/btn-cart.gif) no-repeat scroll left top transparent;
    border: 0 none;
    float: left;
    height: 30px;
    line-height: 30px;
    padding: 0;
    width: 90px;
}
#slider-content #sl-images li .item button.btn-cart span span {
    background: none repeat scroll 0 50% transparent;
    color: #1E7EC8;
    font-weight: bold;
    padding-left: 20px;
    width: auto;
}