<?xml version="1.0"?>
<config>
    <modules>
        <EM_NewsFeedWidget>
            <version>1.0.0.0.0</version>
        </EM_NewsFeedWidget>
    </modules>

    <global>
    	<events>
			<application_clean_cache>
				<observers>
					<newsfeedwidget>
						<type>singleton</type>
						<class>EM_NewsFeedWidget_Model_Observer</class>
						<method>application_clean_cache</method>
					</newsfeedwidget>
				</observers>
			</application_clean_cache>
		</events>
    	<models>
            <newsfeedwidget>
                <class>EM_NewsFeedWidget_Model</class>
                <resourceModel>newsfeedwidget_mysql4</resourceModel>
            </newsfeedwidget>
            <newsfeedwidget_mysql4>
                <class>EM_NewsFeedWidget_Model_Mysql4</class>
                <entities>
                    <newsfeedwidget>
                        <table>newsfeedwidget</table>
                    </newsfeedwidget>
                    <item>
                        <table>newsfeedwidget_item</table>
                    </item>
                </entities>
            </newsfeedwidget_mysql4>
        </models>
        <blocks>
             <newsfeedwidget>
                <class>EM_NewsFeedWidget_Block</class>
             </newsfeedwidget>
        </blocks>
        <resources>
            <newsfeedwidget_setup>
                <setup>
                    <module>EM_NewsFeedWidget</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </newsfeedwidget_setup>
            <newsfeedwidget_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </newsfeedwidget_write>
            <newsfeedwidget_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </newsfeedwidget_read>
        </resources>
    </global>
</config>
